.template-ide {
  $color-tree-color: #909399;
  $color-tree-back: #1f2d3d;
  $color-select-color: #fff;
  $color-select-back: #00a0e9;
  $color-side-back: #1f2d3d;
  $color-tab-top: #409eff;
  $color-code: #000000;

  $container-high: 85vh;
  $code-high: 85vh;
  $ide-high: 90vh;

  height: $ide-high;
  .code {
    .CodeMirror {
      direction: ltr;
      line-height: 20px;
      width: 100%;
      height: $code-high;
    }
    .CodeMirror-hints {
      z-index: 9999 !important;
    }
    .custom-class .CodeMirror {
      width: 100%;
    }

    .empty-div {
      width: 100%;
      height: 100%;
      background-color: $color-code;
    }
  }

  .custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;
  }

  #tab-theme-pane {
    padding: 0 !important;
    margin: 0;
    width: 100px;
  }

  .el-container {
    height: $container-high;
  }

  .el-main {
    margin: 0px;
    padding: 0px;
    background: $color-code;
    overflow: hidden;
  }

  .el-tabs {
    width: 100%;
  }

  .el-tabs__content {
    padding: 0px;
    //height: 85vh;
  }


  .el-panel {
  }

  .el-aside {
    background-color: $color-side-back;
    margin: 0px;
    padding: 0px;
  }

  .el-tabs{
    //padding: 0px;
  }

  .el-tabs__item.is-active{
    color:#ffffff;
  }

  .el-table th.gutter{
    display: none;
    width: 0;
  }

  .el-table colgroup col[name='gutter']{
    display: none;
    width: 0;
  }

  .el-table__body{
    width: 100% !important;
  }

  .el-form {
    margin: 10px 10px 0px 5px
  }

  .is-top {
    color: $color-tab-top;
  }

  .el-tree--highlight-current {
    color: $color-tree-color;
    background: $color-tree-back;
    .el-tree-node.is-current > .el-tree-node__content {
      color: $color-select-color;
      background: $color-select-back;
      font-weight: bold;
    }
  }
}



