$color-tree-color: #fff;
$color-tree-back: #1f2d3d;
$code-high: 80vh;
.template-ide {
  .code {
    .CodeMirror {
      direction: ltr;
      line-height: 20px;
      width: 100%;
      height: $code-high;
    }
    .CodeMirror-hints {
      z-index: 9999 !important;
    }
    .custom-class .CodeMirror {
      width: 100%;
    }
  }
  .el-container {
    height: 90vh;
  }

  .el-main {
    margin: 0px;
    padding: 0px;
  }

  .el-tabs {
    width: 100%;
    height: 95%;
  }

  .el-panel {
    height: 100%;
  }

  .el-aside {
    background-color: #1f2d3d;
  }

  .chosen {
    border: solid 2px #3089dc !important;
  }

  .entity-tool {
    padding: 10px 0px 0px 20px;
  }

  .el-table{
    height: 240px;
  }

  .el-tabs{
    padding: 0px;
  }

  .el-tabs__item.is-active{
    color:#ffffff;
  }

  .el-tree{
    color: #00a0e9;
    background: #00a0e9;
  }

  .el-tree--highlight-current {
    color: $color-tree-color;
    background: $color-tree-back;
  }

  .is-top {
    color:#409eff;
  }

  .el-form {
    margin: 10px 10px 0px 5px
  }

  .blackStyle .el-collapse-item__header{
    background-color: #1f2d3d;
    color: #fff;
    border-bottom: 1px solid #1f2d3d;
    padding-left: 5px;
    padding-right: 5px;

  }
  .blackStyle .el-collapse-item__content{
    padding: 0px 0px 0px 0px;
  }
}



