.EREntity {
  width: 100px;
  height: 100px;
  border: 1px solid #eee;
  border-radius: 10px;
}

.primary{
  background-color: #409EFF;
  color: #fff;
}

.success{
  background-color: #5CB87A;
  color: #fff;
}

.warning{
  background-color: #E6A23C;
  color: #fff;
}

.info{
  background-color: #8896B3;
  color: #fff;
}
