.EREntity {
  width: 100px;
  height: 100px;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 5px;
}
//primary
.bus{
  background-color: #409EFF;
  color: #fff;
}
//success
.rel{
  background-color: #5CB87A;
  color: #fff;
}
//warning
.dic{
  background-color: #E6A23C;
  color: #fff;
}
//info
.log{
  background-color: #8896B3;
  color: #fff;
}
