.statics-container {
  $color-tree-color: #909399;
  $color-tree-back: #1f2d3d;
  $color-select-color: #fff;
  $color-select-back: #00a0e9;
  $color-side-back: #1f2d3d;
  $color-tab-top: #409eff;
  $color-code: #000000;


  $container-high: 85vh;
  $code-high: 85vh;
  $viewer-high: 90vh;

  height: $viewer-high;
  .left-container {
    .infoHead {
      background-color: #3A71A8;
      color: #ffffff;
    }
  }

  .center-container{

  }
  .right-container{

  }
}



